* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    background-color: #1F2937;
    padding: 30px 200px;
}

#logo-and-links {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: auto;
    gap: 25px;
}

#logo {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: auto; 
}

a {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #F9FAF8;
}

#intro-text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
}

button {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #3882F6;
    font-weight: bold;
    padding: 5px 0px;
    border-color: #3882F6;
    border-radius: 5px;
    width: 110px;
    flex-shrink: 0;
}

#right-image {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    background-color: #677180;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 600px;
}

#left-text {
    margin-right: auto;
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#info {
    display: flex;
    margin: 80px 0px;
}

/* MAIN */

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin: 50px 0px;
}

#boxes-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.box {
    width: 150px;
    text-align: center;
    margin: 0px 20px;
}

.image-square {
    border: 3.5px solid #3882F6;
    border-radius: 10%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2937;
}


/* QUOTE */

#quote {
    background-color: #E5E7EB;
    height: 350px;
    padding: 90px 380px 90px 310px;
    display: flex;
    flex-direction: column;
}

#quote-text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;

}

#author {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1F2937;
    margin-left: auto;
}

/* CALL */

#call {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blue-container {
    background-color: #3882F6;
    height: 100px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 10px;
}

#button-bottom{
    border: 1px solid #FFFFFF;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

#call-text > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

#copy-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}