* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    background-color: #1F2937;
    padding: 30px 200px;
}

#logo-and-links {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: auto;
    gap: 25px;
}

#logo {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: auto; 
}

a {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #F9FAF8;
}

#intro-text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
}

button {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #3882F6;
    font-weight: bold;
    padding: 5px 0px;
    border-color: #3882F6;
    border-radius: 5px;
    width: 110px;
    flex-shrink: 0;
}

#right-image {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    background-color: #677180;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 600px;
}

#left-text {
    margin-right: auto;
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#info {
    display: flex;
    margin: 80px 0px;
}


